<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      
      
       {{ content }}
      
<table id="toBeSorted">
<thead>
<tr>
<th onclick="sortViaColumn(0)" style="cursor: pointer">Corpus_Name</th>
<th onclick="sortViaColumn(1)" style="cursor: pointer">Link/Paper</th>
<th onclick="sortViaColumn(2)" style="cursor: pointer">Population</th>
<th onclick="sortViaColumn(3)" style="cursor: pointer">Language</th>
<th onclick="sortViaColumn(4)" style="cursor: pointer">Task</th>
<th onclick="sortViaColumn(5)" style="cursor: pointer">Modality</th>
<th onclick="sortViaColumn(6)" style="cursor: pointer">prompts</th>
<th onclick="sortViaColumn(7)" style="cursor: pointer">answers</th>
<th onclick="sortViaColumn(7)" style="cursor: pointer">labels</th>
</tr>
</thead>
<tbody>
    {% for item in site.data.corpus %}
    {% unless item.hidden %}
    <tr>
      <td class="cell-corpus-name">{{ item.name }}</td>
      <td class="cell-linkpaper">
        {% if item.link %}<a href="{{ item.link }}">Dataset</a>{% endif %}
        {% if item.paper %}<a href="{{ item.paper }}">Paper</a>{% endif %}
        {% if item.paper2 %}<a href="{{ item.paper2 }}">Paper</a>{% endif %}
      </td>
      <td class="cell-population">{{ item.population }}</td>
      <td class="cell-language">{{ item.language }}</td>
      <td class="cell-task">{{ item.task }}</td>
      <td class="cell-modality">{{ item.modality }}</td>
      <td class="cell-prompts">{{ item.prompts }}</td>
      <td class="cell-answers">{{ item.answers }}</td>
      <td class="cell-scores">{{ item.scores }}</td>
    </tr>
    {% endunless %}
  {% endfor %}
</tbody>
</table>

      
<h3 id="contact">Contact</h3>   
  This page is maintained by <a href="https://www.fernuni-hagen.de/computerlinguistik/en/index.shtml">CATALPA</a>; FernUniversität in Hagen, Germany.<br> 
	    Did we miss your dataset? Is there an error in how we represented your data in the table? 
	    Please contact Andrea Horbach or Torsten Zesch under firstname.lastname@fernuni-hagen.de.
      
     
      <script>
function sortViaColumn(n) {
  var table, needswitch, rowcount, switching, i, one, two, dir, switchcount = 0;
  table = document.getElementById("toBeSorted");
  switching = true;
  dir = "up";
  while (switching) {
    switching = false;
    rowcount = table.rows;
    for (i = 1; i < (rowcount.length - 1); i++) {
      needswitch = false;
      one = rowcount[i].getElementsByTagName("TD")[n];
      two = rowcount[i + 1].getElementsByTagName("TD")[n];
      
      if (dir == "up") {
      	if (isNaN(one.innerHTML)) {
        	if (one.innerHTML.toLowerCase() > two.innerHTML.toLowerCase()) {
          	needswitch = true;
          	break;
        	}
        } else {
        	if (Number(one.innerHTML) > Number(two.innerHTML)) {
  					needswitch = true;
  					break;
					}
        }
        
      } else if (dir == "down") {
      	if (isNaN(one.innerHTML)) {
        	if (one.innerHTML.toLowerCase() < two.innerHTML.toLowerCase()) {
          	needswitch = true;
          	break;
        	}
        } else {
        	if (Number(one.innerHTML) < Number(two.innerHTML)) {
  					needswitch = true;
  					break;
					}
        }
      }
    }
    
    if (needswitch) {
      rowcount[i].parentNode.insertBefore(rowcount[i + 1], rowcount[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "up") {
        dir = "down";
        switching = true;
      }
    }
  }
}
</script>
      
      
      
      
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
